<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<div class="container">
    <div class="text-uppercase text-center pt-3 pb-2 ">
        <h3 style="font-weight: bold;">Productos</h3>
    </div>
</div>


<body style="background-color: #F8F9FC;">

    <div class="container-fluid  col-8  col-sm-6  col-lg-4  mt-3">
        <div class="row">

            <!-- <input  [(ngModel)]="busqueda" (keyup)="buscador($event)"  name="buscar" id="buscar" type="text" class="form-control " aria-describedby="emailHelp"
                placeholder="Buscar Proveedor"> -->

        </div>


    </div>
    <div class="text-center mt-4 ">
        <a class="btn btn-primary col-5 col-sm-3" (click)="openModal(nuevo); limpiarNew()">Nuevo Producto</a>
    </div>

    <div  *ngIf="spinner==0" class="table-responsive mt-4    container" style="height: 505px;">
        <table class="table table-bordered table-sm text-center">
            <thead class="bg-dark text-white ">
                <tr>
                    <td>#</td>
                    <td>Nombre</td>
                    <td>Fecha Ingreso</td>
                    <td>Stock</td>
                    <td>Precio</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                <tr class="text-dark webkit-scrollbar," class="text-dark">
                <tr *ngFor="let item of productoObj ; let i=index;" class="text-dark webkit-scrollbar,"
                    class="text-dark">
                    <td><strong>{{i+1}}</strong></td>
                    <td>{{item.nombre}}</td>
                    <td>{{obtenerFecha(item.fechaIngreso)}}</td>
                    <td>{{item.stock}}</td>
                    <td>{{item.precio}}</td>



                    <td class="text-center ">


                        <div class="btn-group dropdown " role="group" aria-label="Button group with nested dropdown">



                            <div class="btn-group" role="group">
                                <button data-toggle="dropdown" id="dropdownMenuButton" type="button"
                                    class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">

                                  <li> <a class="dropdown-item" (click)="llenarCampos(item); openModal(actualizar)">Editar</a></li>
                                  <li> <a class="dropdown-item" (click)="eliminar(item.idProductos)">Eliminar</a></li>

                                </ul>
                            </div>
                        </div>



                    </td>
                </tr>
                <!-- <tr><td *ngIf="proveedoresList.length==0" class='text-center' colspan='10'>No existe Registro   </td> </tr> -->
            </tbody>
        </table>
    </div>

    <div  *ngIf="spinner==1" class="text-center  " style="margin-top: 10em;">

      <div class="spinner-border text-primary" role="status">

      </div>


  </div>

</body>




<ng-template #nuevo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nuevo Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Nombre</p>
    <input type="text" class="form-control" [(ngModel)]="NewNombre">
    <br>

    <p>Stock</p>
    <input type="number" class="form-control" [(ngModel)]="NewStock">
    <br>

    <p>Precio</p>
    <input type="number" class="form-control" [(ngModel)]="NewPrecio">
    <br>

    <p>Fecha de Ingreso</p>
    <input type="date" class="form-control" [(ngModel)]="NewFecha">
    <br>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="NewEstado">
      <label class="form-check-label" for="flexCheckDefault">
        Estado
      </label>
    </div>
    <br>

    <p>Proveedor</p>
    <select class="form-control" [(ngModel)]="NewProveedor">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>
      <option value={{item.idProveedores}} *ngFor="let item of proveedorObj">{{item.nombre}} - {{item.direccion}}</option>
    </select>
    <br>

    <p>Categoria</p>
    <select class="form-control" [(ngModel)]="NewCategoria">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>
      <option value={{item.idCategorias}} *ngFor="let item of categoriaObj">{{item.detalle}}</option>
    </select>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="guardar(); modal.dismiss('Cross click')">Guardar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
  </div>
</ng-template>














<ng-template #actualizar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Actualizar Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Nombre</p>
    <input type="text" class="form-control" [(ngModel)]="UpdateNombre">
    <br>

    <p>Stock</p>
    <input type="number" class="form-control" [(ngModel)]="UpdateStock">
    <br>

    <p>Precio</p>
    <input type="number" class="form-control" [(ngModel)]="UpdatePrecio">
    <br>

    <p>Fecha de Ingreso</p>
    <input type="date" class="form-control" [(ngModel)]="UpdateFecha">
    <br>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="UpdateEstado">
      <label class="form-check-label" for="flexCheckDefault">
        Estado
      </label>
    </div>
    <br>

    <p>Proveedor</p>
    <select class="form-control" [(ngModel)]="UpdateProveedor">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>
      <option value={{item.idProveedores}} *ngFor="let item of proveedorObj">{{item.nombre}} - {{item.direccion}}</option>
    </select>
    <br>

    <p>Categoria</p>
    <select class="form-control" [(ngModel)]="UpdateCategoria">
      <option value=0 selected disabled hidden>Seleccione una Opcion</option>
      <option value={{item.idCategorias}} *ngFor="let item of categoriaObj">{{item.detalle}}</option>
    </select>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="actualizarProducto(); modal.close('Close click')">Actualizar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancelar</button>
  </div>
</ng-template>









</html>
